*,
::after,
::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.header__currencies {
  color: rgb(18, 116, 18);
  font-size: 20px;
}
